* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px dotted red; */
}

html {
    box-sizing: border-box;
    background-color: rgb(250, 244, 230);
    line-height: 1.5;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
h1 {
    text-align: center;
    margin-top: 10px;
}

h2 {
    margin-bottom: 10px;
}

.recipe-card {
    width: 600px;
    margin: 50px auto;
    background-color: rgb(250, 238, 212);
    color: rgb(247, 67, 13);
    border: 2px solid red;
    /* padding: 15px 15px; */
}

img {
    display: block;
    margin: 10px auto;
}

.description,
.ingredients,
.steps {
    margin: 5px 0px;
    padding: 10px 25px;
}

a {
    text-decoration: none;
    color: rgb(124, 35, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(163, 46, 46);
}

.footer {
    background-color: rgb(255, 232, 182);
    padding: 10px 25px;
}

.index-list {
    margin: 10px auto;
    padding: 15px 40px;
    width: 400px;
}
